@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: url(https://hackernoon.imgix.net/images/uDPqwahUxKSKSQ17IYMKmh9T5uu1-jjh3te3.jpeg) no-repeat;
  background-position: center;
  background-size: cover;


  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
