/* @import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  font-family: text-font !important;
  font-weight: 600;
  scroll-behavior: smooth !important;
}
:root {
  --sidebar-width: 20%;
  --restContent-width: 80%;
  --height: 665px;
  --sidebar-min-width: 85px;
  --light: #b7ccf6;
  --dark: #003092;
}
@font-face {
  font-family: title-font;
  src: url(./fonts/Paprika-Regular.ttf);
}
@font-face {
  font-family: text-font;
  src: url(./fonts/YsabeauOffice-VariableFont_wght.ttf);
}
@font-face {
  font-family: time-font;
  src: url(./fonts/DeliusUnicase-Regular.ttf);
}
html,
body {
  background-color: var(--background);
}
.main-container {
  max-width: 1800px !important;
  margin: 0 auto;
  background: var(--light);
}
.sub-container {
  max-width: 1400px !important;
  margin: 0 auto;
  padding: 2em 3em;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 2em;
}
.sidebar {
  width: var(--sidebar-width);
  height: var(--height);
  background: var(--dark);
  transform: width all ease 0.5s;
}
.logo-text,
.menu {
  color: var(--light);
}
.pages .li,
.pages .li .link {
  display: flex;
  align-items: center;
  gap: 1.5em;
  color: var(--light);
}
.tooltip {
  color: var(--light);
  display: none;
}

.sidebar.active {
  width: var(--sidebar-min-width);
}

.sidebar.active .page-li,
.sidebar.active .logo-text {
  display: none;
  transition: background all ease 0.2s;
}
.sidebar.active .link:hover .page-li {
  display: block !important;
  background: var(--dark) !important;
  padding: 5px 10px;
  border-radius: 0px 6px 6px 0px;
}
.frontSide {
  width: var(--restContent-width) !important;
  min-height: var(--height) !important;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  /* gap: 2em; */
  align-items: center;
  /* padding: 2em; */
}
.restContent {
  width: var(--restContent-width) !important;
  height: var(--height) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 2em; */
  align-items: center;
}
.restContent .top,
.restContent .middle,
.restContent .bottom {
  width: 100% !important;
  height: 30% !important;
}
.restContent .top {
  width: 100% !important;
  min-height: 20% !important;
  margin-top: -3em !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
  gap: 10px;
}
.top .div1 {
  width: 50% !important;
}
.top .div1 #time {
  font-family: time-font !important;
  font-size: 46px !important;
  cursor: pointer;
  color: var(--dark) !important;
  font-weight: 600 !important;
}
.top .div1 #month,
.top .div1 #timing {
  font-weight: lighter !important;
  color: var(--dark) !important;
}
.top .div1 #date,
.top .div1 #sec {
  margin-left: -5px !important;
  font-size: 15px !important;
}
.top .div2 {
  width: 50% !important;
  display: flex !important;
  justify-content: end !important;
  gap: 0em 1em;
  align-items: center !important;
}
.top-icons .img {
  width: 40px !important;
  height: 40px !important;
}
.top-icons p {
  transition: all ease 0.5s;
}
.top-icons p:hover {
  transform: scale(1.2);
  padding: 0px 1em !important;
}
.restContent .middle {
  width: 100% !important;
  height: 40% !important;
  position: relative;
  overflow: hidden;
}

.loop {
  /* display: inline-block; */
  white-space: nowrap;
  text-align: center;
  font-size: 100px;
  position: absolute;
  color: #003092;
  top: 10%;
  animation: text-flow 90s linear infinite;
  animation-delay: 0s;
}
.loop .span {
  -webkit-text-stroke: 1.2px var(--light) !important;
}
@keyframes text-flow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.bottom-img {
  width: 650px;
  height: 600px;
  top: -23em !important;
  left: 2em !important;
}
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/*--------------------- Project CSS------------------------------------ */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */

.project {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  /* overflow-y: scroll; */
  gap: 2em;
  justify-content: space-evenly !important;
  align-items: center !important;
}
.pro_card {
  position: relative;
  width: 180px;
  height: 150px;
  background-color: #fff;
  padding: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center !important ;
  align-items: center !important;
  text-align: center;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.5s ease;
  border-radius: 5px;
  color: var(--dark);
}
.pro_card:hover {
  transform: scale(1.1);
  height: 190px;
}
.pro_card .img {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center !important ;
  align-items: center !important;
  text-align: center;
  z-index: 1;
  transition: all 0.3s ease;
}
.pro_img {
  filter: drop-shadow(2px 2px 15px #00000076);
}
.pro_icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3 ease;
}
.pro_icon:hover {
  transform: scale(1.2);
}
.text .demo {
  display: none;
  transition: all 0.3s ease;
}
.pro_card:hover .text .demo {
  display: block;
  transform: scale(1);
}

/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* ---------------------Experince ------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
.experience {
  width: 100%;
  height: 100%;
  display: flex !important;
  gap: 2em;
  justify-content: space-evenly !important;
  align-items: center !important;
}
.exp_card {
  position: relative;
  width: 500px;
  min-height: 300px;
  background-color: #fff;
  padding: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center !important ;
  align-items: center !important;
  line-height: 1.5em;
  gap: 0em 3em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.5s ease;
  border-radius: 5px;
  color: var(--dark);
}
.exp_card:hover {
  transform: scale(1.1);
}
.exp_card .div1,
.exp_card .div2 {
  width: 50%;
  height: 100%;
}
.exp-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.exp-1 {
  position: absolute;
  top: 7em;
  left: 30em;
  transform: rotate(-16deg);
}
.exp-2 {
  position: absolute;
  top: 15em;
  left: 55em;
  transform: rotate(9deg);
}

/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* ---------------------Certificate ------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
.certify {
  width: 100%;
  height: 100%;
  display: flex !important;
  padding-left: 3em;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.cer-card {
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 280px;
  min-height: 200px;
  gap: 3em;
  border-radius: 5px;
  background: #fff;
  margin: 20px;
  padding: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all ease 0.5s;
}
.cer-hide {
  display: none;
}
.cer-card:hover {
  width: 400px;
}
.cer-card:hover .cer-hide {
  display: block;
}

/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* --------------------------About------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.line .img {
  width: 40px;
  height: 600px;
}
.text {
  line-height: 1.5em;
  min-height: 100px;
}
.box {
  max-width: 550px;
  min-height: 100px;
  background: #fff;
  margin: 10px 0px;
  padding: 1em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-radius: 16px 0px 16px 0px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media (max-width: 1440px) and (min-width: 300px) {
  .exp-2,
  .exp-1 {
    position: static;
    transform: rotate(0);
  }
  .exp_card {
    position: static;
  }
  .experience {
    flex-wrap: wrap;
  }
}
@media (max-width: 1280px) and (min-width: 1020px) {
  .bottom-img {
    top: -22em !important;
    left: -2em !important;
  }
}

@media (max-width: 1020px) and (min-width: 300px) {
  .sub-container {
    flex-direction: column !important;
  }
  .restContent {
    width: 100% !important;
  }
  .sidebar {
    width: 100%;
    height: 120px;
    display: flex !important;
    justify-content: space-evenly;
  }
  .top {
    display: flex !important;
  }
  .pages {
    padding: 0;
    gap: 10px 20px;
    display: flex !important;
  }
  .sidebar.active {
    position: relative !important;
  }
  .menu {
    display: none !important;
  }
  .pages .li,
  .pages .li .link {
    gap: 0.5em;
  }
  .bottom-img {
    width: 650px;
    height: 600px;
    top: -22em !important;
    left: -1em !important;
  }
}

@media (max-width: 890px) {
  .pages {
    gap: 2.5em;
  }
  .sidebar {
    height: 20px;
  }
  .pages .page-li {
    display: none !important;
  }
  .round {
    display: none !important;
  }
  .box {
    width: 100%;
    padding: 20px;
  }
  .about-card {
    margin-left: 0 !important;
  }
}
@media (max-width: 767px) {
  .restContent {
    padding: 0 !important;
    min-height: 100%;
  }
  .restContent .top {
    height: 20% !important;
    flex-direction: column !important;
    text-align: center;
  }
  .top .div1,
  .top .div2 {
    width: 100% !important;
  }
  .top .div2 {
    justify-content: center !important;
  }
  .bottom-img {
    width: 550px;
    height: 499px;
    top: -15em !important;
    left: 0em !important;
  }
  .exp_card {
    flex-direction: column;
  }
  .exp_card .div1,
  .exp_card .div2 {
    width: 100%;
    padding: 20px 0px;
  }
  .exp_card:hover {
    transform: none;
  }
}

@media (max-width: 625px) {
  .pages {
    gap: 1.5em;
  }
}
@media (max-width: 580px) {
  .pages {
    gap: 1.5em;
  }
  .sub-container {
    padding: 2em 1em;
  }
  .sidebar {
    height: 135px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .top-icons {
    justify-content: center !important;
  }
  .top-icons .img {
    width: 30px !important;
    height: 30px !important;
  }
  .bottom-img {
    height: 400px;
  }
}
@media (max-width: 425px) {
  .box {
    flex-direction: column;
    text-align: center;
  }
}
