/* @import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  font-family: text-font !important;
  font-weight: 600;
  scroll-behavior: smooth !important;
}
:root {
  --sidebar-width: 20%;
  --restContent-width: 80%;
  --height: 665px;
  --sidebar-min-width: 85px;
  --light: #b7ccf6;
  --dark: #003092;
}
@font-face {
  font-family: title-font;
  src: url(./fonts/Paprika-Regular.ttf);
}
@font-face {
  font-family: text-font;
  src: url(./fonts/YsabeauOffice-VariableFont_wght.ttf);
}
@font-face {
  font-family: time-font;
  src: url(./fonts/DeliusUnicase-Regular.ttf);
}
html,
body {
  background-color: var(--background);
}
.main-container {
  max-width: 1800px !important;
  margin: 0 auto;
  background: var(--light);
}
.sub-container {
  max-width: 1400px !important;
  margin: 0 auto;
  padding: 2em 3em;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 2em;
}
.sidebar {
  width: var(--sidebar-width);
  height: var(--height);
  background: var(--dark);
  transform: width all ease 0.5s;
}
.logo-text,
.menu {
  color: var(--light);
}
.pages .li,
.pages .li .link {
  display: flex;
  align-items: center;
  gap: 1.5em;
  color: var(--light);
}
.tooltip {
  color: var(--light);
  display: none;
}

.sidebar.active {
  width: var(--sidebar-min-width);
}

.sidebar.active .page-li,
.sidebar.active .logo-text {
  display: none;
  transition: background all ease 0.2s;
}
.sidebar.active .link:hover .page-li {
  display: block !important;
  background: var(--dark) !important;
  padding: 5px 10px;
  border-radius: 0px 6px 6px 0px;
}
.frontSide{
  width: var(--restContent-width) !important;
  height: var(--height) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: center;
  padding: 2em;
}
.restContent {
  width: var(--restContent-width) !important;
  height: var(--height) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: center;
}
.restContent .top,
.restContent .middle,
.restContent .bottom {
  width: 100% !important;
  height: 30% !important;
}
.restContent .top {
  width: 100% !important;
  min-height: 20% !important;
  margin-top: -3em !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
  gap: 10px;
}
.top .div1 {
  width: 50% !important;
}
.top .div1 #time {
  font-family: time-font !important;
  font-size: 50px !important;
  cursor: pointer;
  color: var(--dark) !important;  
  font-weight: 600 !important;
}
.top .div1 #month,
.top .div1 #timing {
  font-weight: lighter !important;
  color: var(--dark) !important;  
}
.top .div1 #date,
.top .div1 #sec {
  margin-left: -5px !important;
  font-size: 15px !important;
}
.top .div2 {
  width: 50% !important;
  display: flex !important;
  justify-content: end !important;
  gap: 0em 1em;
  align-items: center !important;
}
.top-icons .img {
  width: 40px !important;
  height: 40px !important;
}
.top-icons p {
  transition: all ease 0.5s;
}
.top-icons p:hover {
  transform: scale(1.2);
  padding: 0px 1em !important;
}
.restContent .middle {
  width: 100% !important;
  height: 40% !important;
  position: relative;
  overflow: hidden;
}

.loop {
  /* display: inline-block; */
  white-space: nowrap;
  text-align: center;
  font-size: 100px;
  position: absolute;
  color: #003092;
  top: 10%;
  animation: text-flow 90s linear infinite;
  animation-delay: 0s;
}
.loop .span {
  -webkit-text-stroke: 1.2px var(--light) !important;
}
@keyframes text-flow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.bottom-img {
  width: 650px;
  height: 600px;
  top: -23em !important;
  left: 2em !important;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media (max-width: 1280px) and (min-width: 1020px) {
  .bottom-img {
    top: -23em !important;
    left: -2em !important;
  }
}

@media (max-width: 1020px) and (min-width: 300px) {
  .sub-container {
    flex-direction: column !important;
  }
  .restContent {
    width: 100% !important;
  }
  .sidebar {
    width: 100%;
    height: 120px;
    display: flex !important;
    justify-content: space-evenly;
  }
  .top {
    display: flex !important;
  }
  .pages {
    padding: 0;
    gap: 10px 20px;
    display: flex !important;
  }
  .sidebar.active {
    position: relative !important;
  }
  .menu {
    display: none !important;
  }
  .pages .li,
  .pages .li .link {
    gap: 0.5em;
  }
}

@media (max-width: 890px) {
  .pages {
    gap: 2.5em;
  }
  .sidebar {
    height: 20px;
  }
  .pages .page-li {
    display: none !important;
  }
  .bottom-img {
    width: 548px;
    height: 500px;
    top: -19em !important;
    left: 1em !important;
  }
}
@media (max-width: 767px) {
  .restContent {
    padding: 0 !important;
    min-height: 100%;
  }
  .restContent .top {
    height: 20% !important;
    flex-direction: column !important;
    text-align: center;
  }
  .top .div1,
  .top .div2 {
    width: 100% !important;
  }
  .top .div2 {
    justify-content: center !important;
  }
  .bottom-img {
    top: -17em !important;
    left: 0em !important;
  }
}

@media (max-width: 625px) {
  .pages {
    gap: 1.5em;
  }
}
@media (max-width: 580px) {
  .pages {
    gap: 1.5em;
  }
  .sub-container {
    padding: 2em 1em;
  }
  .sidebar {
    height: 135px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .top-icons {
    justify-content: center !important;
  }
  .top-icons .img {
    width: 30px !important;
    height: 30px !important;
  }
  .bottom-img {
    height: 400px;
  }
}
